Numbers:are object types that are integers or floating type.e.g are 1,2,3,4.3,43.034 etc
Strings:are data structures created with double or single quote comma '' "" in syntax ().
Lists:list can be used to enumerate many elements,data in form of strings or numbers makes use of syntax [].
Tuples:this is a type of List that are immutable.it makes use of syntax ()
Dictionaries:is used to hold object types which can be recalled with assigned key values. the syntax is {}. also makes use of :

In [6]:
10*20/5+(0.5)+160-100

100.5

44,29,50

In [7]:
4*(6+5)

44

In [8]:
4*6+5

29

In [9]:
4+6*5

34

In [2]:
a = 3+1.5+4

In [3]:
a

8.5

In [4]:
type(a)

float

In [2]:
49**0.5

7.0

In [3]:
7**2

49

In [1]:
7**2

49

In [2]:
my_test = 'hello'

In [3]:
my_test

'hello'

In [8]:
my_test[1]

'e'

In [9]:
mytest = 'hello'

In [10]:
mytest

'hello'

In [11]:
mytest[::-1]

'olleh'

In [12]:
s = 'hello'

In [13]:
s[4]

'o'

In [16]:
s[4:]

'o'

In [17]:
my_list = [0,0,0]

In [18]:
listnow = [0]

In [22]:
listnow.append(0)

In [23]:
listnow

[0, 0, 0]

In [26]:
list3 = [1,2,[3,4,'hello']]

In [28]:
list3[2][2] = 'goodbye'

In [29]:
list3

[1, 2, [3, 4, 'goodbye']]

In [30]:
list4 = [5,3,4,6,1]

In [31]:
list4.sort()

In [32]:
list4

[1, 3, 4, 5, 6]

In [33]:
d = {'simple_key':'hello'}

In [34]:
d['simple_key']

'hello'

In [35]:
d = {'k1':{'k2':'hello'}}

In [36]:
d['k1']['k2']

'hello'

In [6]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [7]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [42]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [78]:
d['k1'][2]['k2'][1:][0]['tough'][2:][0][0]

'hello'

 no you can not sort a dictionary because it is key or value oriented data structure. it is meant to be so in order for a set value to be grabbed at request.

tuples are immutable while list are mutable. tuples syntax is ( ) while list syntax is [  ].

In [80]:
t = (1,2,3)

In [81]:
type(t)

tuple

u create a tuple using the syntax ( )

what is unique about set is that data stored are immutable and they can be disordered. it can also contain large data. they don't allow for duplicate item.

In [82]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [83]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

BOOLEANS

In [84]:
2>3

False

In [85]:
3 <= 2

False

In [86]:
3.0 == 3

True

In [89]:
4**0.5 != 2

False

In [93]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

l_one[2][0] >= l_two[2]['k1']

False

In [1]:
10**2

100

In [8]:
[0]*3

[0, 0, 0]

In [9]:
list9 = [3,2,4,7,8,6]

In [10]:
sorted(list9)

[2, 3, 4, 6, 7, 8]