In [2]:
a = 5

In [3]:
a

5

In [4]:
a = 10

In [5]:
a

10

In [6]:
a = a+a

In [8]:
a

20

In [9]:
type (a)

int

In [10]:
a = 45.5

In [11]:
type(a)

float

In [12]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [13]:
my_taxes

10.0

strings and indexing and slicing.
index use [] starts from 0-end.
slicing uses [start:stop:step]

In [14]:
"Hello"

'Hello'

In [15]:
'this also a string'

'this also a string'

In [16]:
"i'am going on a run"

"i'am going on a run"

In [17]:
print ("hello")

hello

In [18]:
print("hello one")
print ("hello two")

hello one
hello two

In [19]:
print ("hello \nworld")

hello
world

In [20]:
print ("Hello \tWorld")

Hello 	World

In [21]:
len ('hello world')

11

String Indexing and Slicing.

In [22]:
mystring = "Hello World"

In [23]:
mystring

'Hello World'

In [24]:
mystring[0]

'H'

In [25]:
mystring[8]

'r'

In [26]:
mystring[-2]

'l'

In [27]:
mystring[-1]

'd'

In [28]:
mystring = 'abcdefghijk'

In [29]:
mystring

'abcdefghijk'

In [30]:
mystring[:1]

'a'

In [31]:
mystring[2:]

'cdefghijk'

In [32]:
mystring[::]

'abcdefghijk'

In [33]:
mystring[:4]

'abcd'

In [35]:
mystring[3:6]

'def'

In [37]:
mystring[6:8]

'gh'

In [40]:
mystring[9:]

'jk'

In [41]:
mystring

'abcdefghijk'

In [43]:
mystring[6:9]

'ghi'

In [48]:
mystring[::2]

'acegik'

In [50]:
mystring[3:8:2]

'dfh'

In [51]:
mystring[::-1]

'kjihgfedcba'

string properties and methods

IMMUTABILITY OF STRINGS

In [52]:
name = "Sam"

In [53]:
# name[0] = 'P'

In [55]:
last_letters = name[1:]

In [56]:
last_letters

'am'

In [57]:
'P' + last_letters

'Pam'

In [58]:
x = 'Hello World'

In [60]:
x + " It is beautiful Outside"

'Hello World It is beautiful Outside'

In [61]:
letter = 'z'

In [62]:
letter * 20

'zzzzzzzzzzzzzzzzzzzz'

In [64]:
 2 + 3

5

In [73]:
x = 'Hello World'

In [74]:
x.upper()

'HELLO WORLD'

In [75]:
x.lower()

'hello world'

In [76]:
x.split()

['Hello', 'World']

In [77]:
x = 'hi this is a string'

In [78]:
x.split()

['hi', 'this', 'is', 'a', 'string']

In [79]:
x.split('i')

['h', ' th', 's ', 's a str', 'ng']

In [80]:
print ('HEllO MEO')

HEllO MEO

STRING FORMATTING FOR PRINTING

In [82]:
 print ('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [86]:
print('The {0} {1} {2}'.format('horse','is','fast'))

The horse is fast

In [87]:
print('The {h} {f} {i}'.format(h='horse',i='is',f='fast'))

The horse fast is

FLOAT FORMATING "{value:width:precision f}"

In [88]:
result = 100/777

In [89]:
result

0.1287001287001287

In [94]:
print ("The result was {r:1.4f}".format(r=result))

The result was 0.1287

In [172]:
print (f'The result was {result:1.3f}')

The result was 0.129

In [95]:
name = "Jose"

In [96]:
print(f'Hello,his name is {name}')

Hello,his name is Jose

In [101]:
name = "Meo"
age = 20

In [111]:
print (f'{name} is {age} years old')

Meo is 20 years old

In [114]:
print ('{1} is {0} years old'.format(name,age))

20 is Meo years old

LISTS: lists are ordered sequences that can hold a variety of objects types.
they use [ ] and commas to separate objects in the lists. [1,2,3,4,5]

In [115]:
my_list = [1,2,3]

In [122]:
my_list = ['String',100,23.2]

In [123]:
len (my_list)

3

In [124]:
mylist = ['one','two','three']

In [126]:
mylist[2]

'three'

In [127]:
mylist[:2]

['one', 'two']

In [128]:
mylist

['one', 'two', 'three']

In [129]:
anotherlist = ['four','five']

In [130]:
anotherlist

['four', 'five']

In [131]:
mylist + anotherlist

['one', 'two', 'three', 'four', 'five']

In [132]:
new_list = mylist + anotherlist

In [133]:
new_list

['one', 'two', 'three', 'four', 'five']

In [134]:
new_list[0] = 'All Caps'

In [135]:
new_list

['All Caps', 'two', 'three', 'four', 'five']

In [136]:
new_list.append('six')

In [137]:
new_list

['All Caps', 'two', 'three', 'four', 'five', 'six']

In [138]:
new_list.append('seven')

In [139]:
new_list

['All Caps', 'two', 'three', 'four', 'five', 'six', 'seven']

In [140]:
new_list.pop()

'seven'

In [141]:
new_list

['All Caps', 'two', 'three', 'four', 'five', 'six']

In [142]:
popped_item = new_list.pop()

In [143]:
popped_item

'six'

In [144]:
new_list

['All Caps', 'two', 'three', 'four', 'five']

In [145]:
new_list.pop(0)

'All Caps'

In [146]:
new_list

['two', 'three', 'four', 'five']

In [148]:
new_list.pop(1)

'three'

In [149]:
new_list

['two', 'four', 'five']

In [151]:
new_list.append('three')

In [152]:
new_list

['two', 'four', 'five', 'three']

In [153]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [154]:
new_list.sort()

In [155]:
new_list

['a', 'b', 'c', 'e', 'x']

In [157]:
num_list.sort()

In [158]:
num_list

[1, 3, 4, 8]

In [160]:
num_list.reverse()

In [161]:
num_list

[8, 4, 3, 1]

In [162]:
game = ('easy')

In [163]:
print (f'my game is {game}')

my game is easy

In [164]:
budget = ['phone','shoe','glasses']

In [165]:
budget.append('watches')

In [166]:
budget

['phone', 'shoe', 'glasses', 'watches']

In [167]:
budget.pop(2)

'glasses'

In [168]:
budget

['phone', 'shoe', 'watches']

In [169]:
budget.sort()

In [170]:
budget

['phone', 'shoe', 'watches']

In [173]:
user = ('emmanuel')
age = 21

In [174]:
print (f'{user} will be {age} years old')

emmanuel will be 21 years old

DICTIONARY

In [175]:
my_dict = {'key1':'value1','key2':'value2'}

In [176]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [177]:
my_dict['key1']

'value1'

In [178]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [179]:
prices_lookup['oranges']

1.99

In [4]:
d = {'k1':123,'k2':[0,1,2,3],'k3':{'insidekey':200}}

In [5]:
d['k1']

123

In [6]:
d['k3']['insidekey']

200

In [7]:
d['k2']

[0, 1, 2, 3]

In [8]:
d['k2'][2]

2

In [9]:
d = {'key1':['a','b','c']}

In [11]:
d['key1'][2].upper()

'C'

In [12]:
d = {'k1':100,'k2':200}

In [13]:
d['k3'] = 300

In [14]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [15]:
d['k1'] = 'NEW VALUE'

In [16]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [17]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [18]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [19]:
d.values()

dict_values([100, 200, 300])

In [20]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

TUPLES WITH PYTHON.
They are similar to Lists the difference is that they are immutable. i.e you can not easily change an assigned value.

In [21]:
t = (1,2,3)

In [22]:
mylist = [1,2,3]

In [23]:
type(t)

tuple

In [24]:
type(mylist)

list

In [25]:
len(t)

3

In [26]:
t

(1, 2, 3)

In [27]:
t = ('one',2)

In [28]:
t[0]

'one'

In [29]:
t[-1]

2

In [30]:
t = ('a','a','b')

In [32]:
t.count('a')

2

In [33]:
t.index('a')

0

In [34]:
t.index('b')

2

In [35]:
t

('a', 'a', 'b')

In [36]:
mylist

[1, 2, 3]

In [37]:
mylist[0] = 'NEW'

In [38]:
mylist

['NEW', 2, 3]

In [40]:
t[0]

'a'

SETS

In [41]:
myset = set()

In [42]:
myset

set()

In [43]:
myset.add(1)

In [44]:
myset

{1}

In [45]:
myset.add(2)

In [46]:
myset

{1, 2}

In [47]:
myset.add(2)

In [48]:
myset

{1, 2}

In [49]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3,3]

In [50]:
set(mylist)

{1, 2, 3}

 BOOLEANS : Makes use of True or False,note the T and F must be in capital letters.

In [51]:
True

True

In [52]:
False

False

In [53]:
type(False)

bool

In [54]:
1 > 2

False

In [55]:
1==1

True

In [58]:
b = None

In [59]:
b

I/O with basic files in python.I/O stands for basic input and output.

In [60]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [61]:
myfile = open('myfile.txt')

In [62]:
pwd

'C:\\Users\\Penance\\Desktop\\py Folder'

In [63]:
myfile = open('myfile.txt')

In [64]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [65]:
myfile.read()

''

In [66]:
myfile.seek(0)

0

In [67]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [68]:
myfile.seek(0)

0

In [70]:
contents = myfile.read()

In [71]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [72]:
myfile.seek(0)

0

In [73]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [75]:
myfile.close()

In [76]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [77]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [78]:
with open('myfile.txt',mode= 'r') as myfile:
    contents = myfile.read()

In [79]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [80]:
%%writefile my_new_file.txt
ONE ON THE FIRST
TWO ON THE SECOND
THREE ON THE THIRD

Writing my_new_file.txt

In [81]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON THE FIRST
TWO ON THE SECOND
THREE ON THE THIRD

In [82]:
with open('my_new_file.txt',mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [83]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON THE FIRST
TWO ON THE SECOND
THREE ON THE THIRD

FOUR ON FOURTH

In [84]:
with open('dgdjdhgkjfhjfg.txt',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [85]:
with open('dgdjdhgkjfhjfg.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE!

COMPARISON OPERATORS

In [1]:
3 ==4

False

In [2]:
"Good" == "Bad"

False

In [4]:
'mad oo' == 'mad oo'

True

In [5]:
4 != 5

True

In [6]:
2 != 2.0

False

In [7]:
2>1

True

In [8]:
34 <43

True

Chaining comparison operators

In [9]:
1 < 2 < 3

True

In [10]:
1 <2 and 2 < 3

True

In [11]:
('h' == 'h') and (2 == 2)

True

In [12]:
1 == 2 or 2 == 2

True

In [13]:
1 == 1

True

In [14]:
not(1==1)

False

In [15]:
not 400 > 50000

True

IF ELIF AND ELSE STATEMENTS IN PYTHON

In [1]:
if True:
    print('ITS TRUE')

ITS TRUE

In [5]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print('I am not hungry')

FEED ME!

In [10]:
loc = 'A game'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

I do not know much.

In [4]:
name = 'Meo'

if name == 'Frankie':
    print('Hello Frankie')
elif name == 'Sammy':
    print('Hello Sammy')
elif name == 'Nene':
    print('Welcome Adaobi')
else:
    print("What is your name?")

What is your name?

FOR LOOPS

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
 for num in mylist:
        print('HELLO')

HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO
HELLO

In [3]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number:{num}')

Odd Number:1
2
Odd Number:3
4
Odd Number:5
6
Odd Number:7
8
Odd Number:9
10

In [4]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [8]:
mystring = 'Hello World'

for _ in mystring:
    print('Nice!')

Nice!
Nice!
Nice!
Nice!
Nice!
Nice!
Nice!
Nice!
Nice!
Nice!
Nice!

In [10]:
tup =(1,2,3)

for item in tup:
    print(item)

1
2
3

In [11]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [12]:
len(mylist)

4

In [13]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [18]:
#Tuple unpacking
for a,b in mylist:
    print(b)

2
4
6
8

In [19]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [20]:
for tins in mylist:
    print(tins)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [27]:
for a,b,c in mylist:
    print(c,c,a,b,a)

3 3 1 2 1
7 7 5 6 5
10 10 8 9 8

In [31]:
d = {'k1':1,'k2':2,'k3':3}

for value in d.values():
    print(value)

1
2
3

WHILE LOOPS

In [3]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    
    x+=1
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

BREAK,CONTINUE AND PASS STATEMENTS.

In [4]:
x = [1,2,3]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

In [5]:
mystring = 'sammy'

In [15]:
for letter in mystring:
    if letter =='a':
        continue
    print(letter)

s
m
m
y

In [16]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

USEFUL OPERATORS

In [17]:
  mylist = [1,2,3]

In [1]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [2]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [4]:
index_count = 0

for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [6]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [7]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']

In [10]:
for a,b in zip(mylist1,mylist2):
    print(a)
    print(b)

1
a
2
b
3
c
4
d
5
e

In [11]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [12]:
'x' in [ 123]

False

In [13]:
2 in(1,2,3)

True

In [14]:
'x' in ['x','y','y']

True

In [15]:
'mykey' in {'mykey':345}

True

In [16]:
d = {'mykey':345}

345 in d.values()

True

In [17]:
mylist = [10,20,30,100]

In [18]:
min(mylist)

10

In [19]:
max(mylist)

100

In [20]:
from random import shuffle

In [21]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [22]:
shuffle(mylist)

In [27]:
mylist

[1, 6, 2, 10, 5, 9, 8, 3, 4, 7]

In [28]:
from random import randint

In [29]:
randint(0,100)

26

In [30]:
randint(0,100)

28

In [31]:
mynum = randint(0,20)

In [32]:
mynum

1

In [33]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [35]:
result = input('What is your name? ')

What is your name? Meo

In [36]:
result

'Meo'

In [37]:
result = input('Favorite Number: ')

Favorite Number: 16

In [38]:
result

'16'

In [42]:


int(result)

16

In [43]:
float(result)

16.0

In [44]:
result = int(input('Favorite Number: '))

Favorite Number: 19

In [45]:
type(result)

int

LIST COMPREHENSIONS

In [46]:
mystring ='hello'

In [47]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [48]:
mylist

['h', 'e', 'l', 'l', 'o']

In [49]:
mylist = [letter for letter in mystring]

In [50]:
mylist

['h', 'e', 'l', 'l', 'o']

In [51]:
mylist = [x for x in 'word' ]

In [52]:
mylist

['w', 'o', 'r', 'd']

In [53]:
mylist = [num for num in range(0,11)]

In [54]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
mylist = [num**2 for num in range(0,11)]

In [56]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [59]:
mylist = [x**2 for x in range(0,11) if x%2 ==0]

In [60]:
mylist

[0, 4, 16, 36, 64, 100]

In [61]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [62]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [63]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))

In [64]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [65]:
results = [x if x%2==0 else 'ODD' for x in range(0,11) ]

In [66]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [67]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [68]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [72]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [73]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]