st = 'Sam Print only the words that start with s in this sentence'

In [18]:
for word in st.split():
    if word[0].lower() == 's':
        print(word)

Sam
start
s
sentence

In [9]:
mylist = [1,2,3,4,5]

In [19]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [20]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [22]:
[num for num in range(1,51) if num%3 ==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [27]:
st = 'Print every word in this sentence that has an even number of letters'

In [29]:
for word in st.split():
    if len(word) % 2 == 0:
        print(word+ ' is even')

word is even
in is even
this is even
sentence is even
that is even
an is even
even is even
number is even
of is even

In [30]:
for num in range(1,101):
    if num%3 == 0 and num%5 == 0:
        print('FizzBuzz')
    elif num%3 == 0:
            print('Fizz')
    elif num%5 == 0:
            print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [36]:
st = 'Create a list of the first letters of every word in this string'

In [37]:
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

Trying out the test again

In [11]:
st = 'Sam Print only words that start with s in this sentence'

In [13]:
for word in st.split():
    if word[0].lower() == 's':
        print(word)

Sam
start
s
sentence

In [15]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [18]:
for num in range(0,11,2):
    if num%2 ==0:
        print(num)

0
2
4
6
8
10

In [19]:
[x for x in range(1,51) if x%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [20]:
st = 'Print every word in this sentence that has an even number of letters'

In [29]:
for test in st.split():
    if len(test)%2 == 0:
        print(test + " is Even!")
    else:
        print(test)

Print
every
word is Even!
in is Even!
this is Even!
sentence is Even!
that is Even!
has
an is Even!
even is Even!
number is Even!
of is Even!
letters

In [30]:
for num in range(1,101):
    if num%3==0 and num%5==0:
        print('FizzBuzz')
    elif num%3==0:
        print('Fizz')
    elif num%5==0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [63]:
st = 'Create a list of the first letters of every word in this string'

In [71]:
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

        FUNCTION PRACTICE EXERCISE

I know it won't be easy because i don't have enough knowledge on this but am gonna try my best for to see what I can do.

In [115]:
def lesser_even(a,b):
    if a%2 == 0 and b%2 == 0:
        # BOTH NUMBERS ARE EVEN
        if a < b:
            result = a
        else:
            result = b
            #ONE OR BOTH NUMBERS ARE ODD
    else:
        if a > b:
            result = a
        else:
            result = b
    return result

In [116]:
lesser_even(30,4)

4

In [117]:
lesser_even(3,71)

71

In [118]:
def lesser(a,b):
    
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [119]:
lesser(16,32)

16

In [120]:
lesser(7,72)

72

In [7]:
def animal_crackers(text):
    wordlist = text.split()
    
    first = wordlist[0]
    second = wordlist[1]
    
    return first[0] == second[0]

In [9]:
animal_crackers('Level Laid')

True

In [10]:
animal_crackers('Word Press')

False

In [18]:
def animal_crackers(text):
    wordlist = text.lower().split()
    return wordlist[0][0] == wordlist[1][0]

In [19]:
animal_crackers('Meo Moses')

True

In [20]:
animal_crackers('Jimmy Gatt')

False

In [21]:
animal_crackers('Big ben')

True

In [38]:
def makes_twenty(n1,n2):
    
    if n1 + n2 == 20:
        return True
    elif n1 == 20:
        return True
    elif n2 == 20:
        return True
    else:
        return False

In [39]:
makes_twenty(20,10)

True

In [40]:
makes_twenty(7,13)

True

In [41]:
makes_twenty(10,5)

False

In [42]:
def makes_twenty(n1,n2):
    
    return (n1+n2) == 20 or n1 == 20 or n2 ==20

In [43]:
makes_twenty(9,11)

True

In [60]:
def old_macdonald(name):
    
    first = name[0]
    inbetween = name[1:3]
    fourth = name[3]
    rest = name[4:]
    return first.upper() + inbetween + fourth.upper() + rest

In [61]:
old_macdonald('macdonald')

'MacDonald'

In [62]:
def old_macdonald(name):
    first = name[:3]
    second = name[3:]
    
    return first.capitalize() + second.capitalize()

In [63]:
old_macdonald('macdonald')

'MacDonald'

In [79]:
def master_yoda(text):
    wordlist = text.split()
    reverse = wordlist[::-1]
    return ' '.join(reverse)

In [80]:
master_yoda('I am home')

'home am I'

In [81]:
master_yoda('We are ready')

'ready are We'

In [82]:
def almost_there(n):
    
    return (abs(100-n) <=10) or (abs(200-n)<=10)

In [83]:
almost_there(104)

True

In [84]:
almost_there(150)

False

In [85]:
mylist = ['phone','bag','clothe']

In [86]:
' and '.join(mylist)

'phone and bag and clothe'

In [87]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [89]:
has_33([1,3,4])

False

In [115]:
def paper_doll(text):
    result = ''
    
    for char in text:
        result += char*3
    return result

In [116]:
paper_doll('Hello')

'HHHeeellllllooo'

In [128]:
def blackjack(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c])-10

In [129]:
blackjack(5,6,7)

18

In [130]:
blackjack(11,4,7)

12

In [132]:
blackjack(9,9,9)

In [143]:
def summer_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num!= 6:
                total += num
                break
            else:
                add = False
            while not add:
                if num!= 9:
                    break
            else:
                add = True
                break
    return total

In [144]:
summer_69([1,3,5])

9

In [145]:
summer_69([4,5,6,7,8,9])

9

In [146]:
summer_69([2,1,6,9,11])

3

In [1]:
def spy_game(nums):
    
    code = [0,0,7,'x']
    # [0,7,'x']
    # [7,'x']
    # ['x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
            
        return len(code) == 1

In [2]:
spy_game([1,2,4,0,0,7,5])

False

In [3]:
spy_game([1,7,2,0,4,5,0])

False

In [3]:
def spy(nums):
    
    code = [0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
            
        return len(code) == 1

In [4]:
spy([1,2,4,0,0,7,5])

False